:root {
    --background-color: #EDEDED;
    --background-transparent: rgba(237, 237, 237, 0);
    --text-color: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111111;
        --background-transparent: rgba(17, 17, 17, 0);
        --text-color: #f4f4f4;
    }
}

body {
    font-family: 'SFD', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    user-select: none;
}

.filler {
    height: 38vh;
}


.status {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100px;
    margin: 0 auto;
    font-size: 100px;
    opacity: 0.9;
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.indicator {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.statustext {
    margin-left: 18px;
}


.showcustom {
    margin: 50px auto;
    opacity: 0.7;
    font-family: 'SF', Arial, sans-serif;
    transition: opacity 0.2s ease-in-out;
}

.customdescript {
    width: fit-content;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    
}

.cosdata {
    display: block;
    width: fit-content;
    align-items: center;
}

.cosstate {
    display: flex;
    width: fit-content;
    max-width: 370px;
}


.fixed {
    display: flex;
    align-items: center;
    font-family: 'SF', Arial, sans-serif;
    width: fit-content;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-55px);
    opacity: 0.7;
}

.info {
    margin-left: 5px;
    margin-right: 5px;
}

#recheck {
    padding: 0 4px 0 3px;
    letter-spacing: -0.5px;
    text-decoration: underline;
    opacity: 0.8;
}



.fine {
    background-color: #28c840;
}

.issue {
    background-color: #f8cd25;
}

.offline {
    background-color: #f12719;
}

.customized {
    background-color: #195df1;
}

.onboarding {
    background-color: var(--text-color);
}

.loading {
    opacity: 0;
    transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.failed {
    color: #f12719e6;
}

.hidden {
    display: none;
    opacity: 0;
}

@media (max-width: 700px) {
    .status {
        height: 50px;
    }
    .statustext {
        font-size: 40px;
        margin-left: 9px;
    }
    .indicator {
        width: 30px;
        height: 30px;
    }
    .showcustom {
        margin: 15px auto;
    }
}

@media (min-width: 1440px) {
    .status {
        height: 180px;
    }
    .statustext {
        font-size: 160px;
        margin-left: 35px;
    }
    .indicator {
        height: 110px;
        width: 110px;
    }
    .fixed {
        font-size: 20px;
    }
    .showcustom {
        font-size: 20px;
        margin: 60px auto;
    }
}


@font-face {
    font-family: 'SF';
    src: url('sf-pro-text_regular.woff2') format('woff2');
}
@font-face {
    font-family: 'SFD';
    src: url('sf-pro-display_regular.woff2') format('woff2');
}
