:root {
    --background-color: #EDEDED;
    --background-transparent: rgba(237, 237, 237, 0);
    --text-color: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111111;
        --background-transparent: rgba(17, 17, 17, 0);
        --text-color: #f4f4f4;
    }
}

body {
    font-family: 'SFD', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
}

.filler {
    height: 28vh;
}

.status {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 80px;
    opacity: 0.9;
}

.indicator {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.fine {
    background-color: #28c840;
}

.issue {
    background-color: #f8cd25;
}

.offline {
    background-color: #f12719;
}

.onboarding {
    background-color: #989898;
}

.statustext {
    margin-left: 25px;
}

.loading {
    opacity: 0.5;
}

.failed {
    color: #cf3e12ec;
}

.fixed {
    display: none;
    font-family: 'SF', Arial, sans-serif;
    width: fit-content;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50px);
    opacity: 0.7;
}

@media (max-width: 700px) {
    .statustext {
        font-size: 40px;
        margin-left: 8px;
    }
    .indicator {
        width: 30px;
        height: 30px;
    }
}


@font-face {
    font-family: 'SF';
    src: url('sf-pro-text_regular.woff2') format('woff2');
}
@font-face {
    font-family: 'SFD';
    src: url('sf-pro-display_regular.woff2') format('woff2');
}
